# Requirements for mission control server
# TO INSTALL RUN THE SCRIPTS BELOW(MAC/PI):
# 
#  INSTALL:  ./reqinstall.sh
#  UPDATE: ./update.sh

pyserial
python-socketio
gevent
gevent-websocket
asyncssh
uvicorn
psutil
asyncssh
dotenv
